* {
	padding: 0;
	margin: 0;
	font-family: Lucida, sans-serif;
}

h1 {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 5%; 
    font-size: 24px;
    color: #191970;
}

#painelPrincipal {
    background-image: url(images/logoLogin2.png);
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 5px;
    width: 700px;
    border: none;
    /*height: 260px;*/
    padding: 5px;
    background-color: #DCDCDC;
    margin: 100px auto;
    
}

#painelLogin {
    border-radius: 5px;
    width: 300px;
    border: none;
    padding: 20px;
    background-color: #A9A9A9;
    margin: 5% 5%;
}

#loginIncorreto {
    display: inline-block;
    width: 360px;
    border-radius: 5px;
    background-color: #B22222;
    margin-left: 7%;
    margin-bottom: 7%;
    text-align: center;
}

#avisoSenha {
    display: inline-block;
    margin: 5px;
    font-style: italic;
    font-size: 12px;
    color: #FFFFFF;
    /*font-weight: bold;*/
}

label, input {
    display: block;
    margin: 5px;
    border-radius: 5px;
}

input {
    border: 1px solid #848484;
    width: 300px;
    padding: 4px;
    color: #191970;
    font-style: italic;
}

label {
    margin-top: 10px;
    font-size: 14px;
    color: #191970;
    font-weight: bold;
}

.botoes {
    margin-top: 30px;
}

.botao {
    display: inline-block;
    font-size: 12px;
    padding: 5px;
    color: #FFFFFF;
    background-color: #191970;
    border: 1px solid #191970;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    margin-right: 5px;
    margin-left: 6px;
}

.botao:hover {
    color: #FFFFFF;
    focus: #00008B ;
    background-color: #00008B;
    border: 1px solid #00008B;
    cursor: pointer;
}


/*#avisoEmail, #avisoSenha{
    display: none;
    font-style: italic;
    font-size: 12px;
    margin: 5px;
    margin-right: 200px;
}

#email:focus~#avisoEmail, #senha:focus~#avisoSenha {
    color: black;
    display: inline-block;
    font-style: italic;
    font-size: 12px;
    margin: 5px;
    margin-right: 160px;
}*/
