* {
  font-family: Lucida, sans-serif;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

.titulo {
  padding: 8px;
  /*border-left: 1px solid #696969;*/
  background-color: #BEBEBE;
  /*border-bottom: 1px solid #000000;*/
  font-weight: bold;
}

.titulo:first-child {
  border-left-width: 0;
}

.cabecalho {
  padding: 10px;
  text-align: center;
  /*background-color: #000000;*/
  border-top: 1px solid #BEBEBE;
  font-size: 20px;
}

.cabecalho:bottom-child{
  border-radius: 0px;
}

body {
    background-image: url(images/fundoLogin2.jpg);
    background-repeat: no-repeat;
}

h1 {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    font-style: italic;
    font-weight: normal;
    opacity: 0.4;
    margin-left: 30px;
    margin-top: 10px;
}

h2 {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
    opacity: 0.4;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}


#painelPrincipal {
  background-color: #FFFFFF;
  margin: 20px auto;
  width: 1000px;
  padding: 30px;
  border-radius: 4px;
  opacity: 0.8;
}

#menuPrincipal {
  background-color: #FFFFFF;
  opacity: 0.6;
  /*margin: 30px auto;*/
  padding: 14px;
  font-weight: bolder;

}

.menu {
  padding: 14px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  opacity: 0.8;
}

.menu:hover {
    background-color: #BEBEBE;
    cursor: pointer;
}


#painelUsuario {
  float: right;
  color: #000000;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 4px;
  opacity: 0.6;
  width: 400px;
  margin-right: 20px;
  margin-top: -60px;
}

#areaUsuario {
  margin-top: 5px;
  float: right;
  margin-right: 20px;
  font-weight: bolder;
  opacity: 0.8;
}

#areaUsuarioBotoes {
  float: right;
}

.botao {
    background-color: #696969;
    border: 1px solid #696969;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin-right: 5px;
    margin-left: 6px;
    opacity: 0.5;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

.botao:hover {
    border: 1px solid #696969;
    background-color: #696969;
    color: #FFFFFF;
    cursor: pointer;
}