
* {
  border-spacing: 0;
  font-family: Calibri Light;
  margin: 0px;
  padding: 0px;
  color: #696969;
}

body {
  background-color: #F5F5F5;
}

h1 {
  color: #696969;
  font-size: 36px;
  font-weight: normal;
    
}

#painelCabecalho {
  height: 30px;
  margin: 10px auto;
  padding: 20px;
  width: 790px;
}

@media screen and (min-width: 800px) {
  #painelCabecalho {   
    height: 30px;
    margin: 10px auto;
    padding: 20px;
    width: 95%;
  }
}

#painelLogoCabecalho{
  background-image: url(images/logoCabecalho.png);
  background-repeat: no-repeat;
  float: left;
  height: 60px;
  width: 50px;
}

#painelTituloCabecalho{
  float: left;
  width: 200px;
}

#painelUsuario {
  background-color: #FFFFFF;
  border: 1px solid #bdbdbd;
  color: #696969;
  float: right;
  padding: 5px;
  margin-right: -20px;
}

#areaUsuario {
  float: right;
  margin-left: 10px;
  margin-right: 20px;
  padding: 5px;

}

#areaUsuarioBotoes {
  float: right;
}

#botaoContaUsuario, #botaoSair {
  border-radius: 2px;
  color: #FFFFFF;
  cursor: pointer;
  float: left;
  font-size: 14px;
  margin-left: 6px;
  margin-right: 5px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

#botaoContaUsuario {
  background-color: #00008B;
  border: 1px solid #00008B;
}

#botaoContaUsuario:hover {
  background-color: #0000CD;
  border: 1px solid #0000CD;
}

#botaoSair {
  background-color: #8B0000;
  border: 1px solid #8B0000;
}

#botaoSair:hover {
  background-color: #C60000;
  border: 1px solid #C60000;
}

#menuPrincipal {
  background-color: #F5F5F5;
  border-top: 1px solid #bdbdbd;
  padding: 10px;
}

.menu {
  color: #696969;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.menu:hover {
  color: #4F4F4F;
  cursor: pointer;
  font-weight: bolder;
}

#painelPrincipal {
  margin: 10px auto;
  width: 1300px;
}

@media screen and (min-width: 1315px) {
  #painelPrincipal {   
    margin: 10px auto;
    width: 98%;
  }
}











#painelFormulario {
  background-color: white;
  border: 1px solid #bdbdbd;
  float: left;
  margin-right: 20px;
  margin-top: 30px;
  padding: 5px;
  position: absolute;
  width: 300px;
}

h2 {
    color: #696969;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
}

#painelFormulario input[type = "text"], select{
  border: 1px solid #D3D3D3;
  display: block;
  margin-bottom: 10px;
  padding: 5px;
}



#painelFormulario {
  font-size: 14px;
  padding: 10px;
}

#error {
  height: 20px;
  margin-top: 20px;
}

#avisoCamposIncorretos{
  background-color: #800000;
  border: 1px solid #800000;
  text-align: center;
  width: 280px;
}

#camposIncorretos {
  color: #FFFFFF;
  display: inline-block;
  font-size: 14px;
  padding: 3px;
}

.botoes{
  margin-top: 15px;
}










#painelTabela {
  background-color: white;
  border: 1px solid #bdbdbd;
  float: right;
  margin: 10px auto;
  margin-top: 30px;
  padding: 5px;
  position: relative;
  width: 73%;
}

.tabela {
  font-family: Calibri Light;
  margin: 10px auto;
  margin-bottom: 40px;
  text-align: left;
  width: 98%;
}

.cabecalho {
  border-top: 1px solid #bdbdbd;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

#cabecalhoLivro {
  border-top: none;
}


.titulo {
  background-color: #E8E8E8;
  font-size: 14px; 
  padding: 8px;
}
.titulo1 {
  width: 400px;
}

.titulo2 {
  width: 150px;
}

td {
  padding: 5px;
}

tr:nth-child(2n-0) {
  background-color: #F5F5F5;
}






















#a {
  background-color: #006400;
  border: 1px solid #006400;
  border-radius: 4px;
  padding: 5px;
  margin-right: 5px;
  color: #FFFFFF;
  cursor: pointer;
}

#a:hover {
  background-color: #008B00;
  border: 1px solid #008B00;
  border-radius: 4px;
  padding: 5px;
  margin-right: 5px;
  color: #FFFFFF;
  cursor: pointer;
}

#d {
  background-color: #8B0000;
  border: 1px solid #8B0000;
  border-radius: 4px;
  padding: 5px;
  color: #FFFFFF;
  cursor: pointer;
}

#d:hover {
  background-color: #C60000;
  border: 1px solid #C60000;
  border-radius: 4px;
  padding: 5px;
  color: #FFFFFF;
  cursor: pointer;
}

/*não mexer*/

#e {
  background-color: #4682B4;
  border: 1px solid #4169E1;
  border-radius: 4px;
  padding: 5px;
  color: #FFFFFF;
  cursor: pointer;
}

#e:hover {
  background-color: #6495ED;
  border: 1px solid #4169E1;
  border-radius: 4px;
  padding: 5px;
  color: #FFFFFF;
  cursor: pointer;
}
